/*Style for container*/
.container {
    min-height: 100vh;
    width: 100%;
    /*background: #E57373;*/
}
.container-fluid {
    min-height: 100vh;
    width: 100%;
    /*background: #E57373;*/
}
/*body {
    
    height: 100vh;
    width: 100%;
}*/
.splash-screen {
    height: 100vh;
    width: 100%;
    background-image: url('file:///android_asset/www/img/mobile screen.png');
    background-size: 100%;
}
/*Style for progress bar*/
progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    /*appearance: none;*/
    width: 80%;
    height: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 90vh;
}
/*navbar style*/
.main-navbar {
    height: 50px;
    width: 100%;
    background: #B71C1C;
    color: white;
    font-size: 16px;
}
.tab-button {
    height: 50px;
    width: 50%;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-right: solid 1px white;
    padding-top: 17px;
    padding-left: 8%;
    text-align: center;
}
/*style for title*/
.title {
    color: white;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 17px;
}
/*Style for active*/
.active {
    background: #880E4F;
}
/*Style for loading*/
.loading {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  position: fixed;
  z-index: 99999;
}
.loadImage {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 45vh;
  bottom: 45vh;
  left: 40%;
  right: 40%;
  z-index: 999;
}
.loadingText {
  margin-top: 51vh;
  margin-bottom: 49vh;
  text-align: center;
  color: white;
}
/*Style for common*/
.container-padding {
    min-height: 100vh;
    width: 100%;
    padding-top: 65px;
    padding-bottom: 55px;
    background: white;
}
.text-input {
    width: 100%;
}
.parent-container {
    min-height: 100vh;
    width: 100%;
    background: #E57373;
}
.parent {
    min-height: 100vh;
    width: 100%;
}
#label {
    color: black;
}
.input-style-1 {
    width: 100%;
    background: transparent;
    border: none !important;
    border-bottom: 1px solid black !important;
}
.input-style-1:hover {
    border-bottom: 1px solid blue !important;
    outline: none !important;
}
.btn-user-account-style {
    border: 2px solid white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
/*.user-account {
    height: 62px;
    width: 62px;
}*/
.input-style {
    background: transparent !important;
    width: 100%;
    border: none !important;
    outline: none !important;
    border-bottom: 1px solid white !important;
    color: white;
}
.input-style:hover {
    border: none !important;
    outline: none !important;
    border-bottom: 1px solid blue !important;
}
.input-style::-webkit-input-placeholder {
color: white !important;
}
 
.input-style:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
.input-style::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
.input-style:-ms-input-placeholder {  
color: white !important;  
}
.error {
    width: 100%;
    font-size: 14px;
    background: #B71C1C;
    color: #FFCDD2;
    text-align: center;
    margin-top: 5px;
}
/*style for log in form*/
#forgetPassword {
    color: red;
}
#forgetPassword:hover {
    text-decoration: none;
}
#signup {
    color: blue;
}
.logo {
    height: 30vh;
    padding-top: 5vh;
    padding-left: 35%;
}
.img-logo {
    height: 75px;
    width: 75px;
}
/*style for step indicator in signup*/
.step-indicator {
    height: 45px;
    width: 100%;
    margin-top: 10px;
}
.position-manager {
    height: 45px;
    width: 10%;
    padding-left: 2px;
    padding-right: 2px;
}
.position-manager-step {
    height: 45px;
    width: 17%;
}
.line-indicator {
    height: 1px;
    width: 100%;
    margin-top: 21px;
    background: blue;
    border: 1px solid blue !important;
}
.step {
    height: 45px;
    width: 45px;
    border: 1px solid #B71C1C !important;
    border-radius: 50%;
}
/*Style for step 4*/
#camera {
    background: transparent;
    border: none;
    color: blue;
    font-size: 30px;
}
#camera:hover {
    border: none;
    outline: none;
}
#gallary {
    background: transparent;
    border: none;
    color: blue;
    font-size: 30px;
}
#gallary:hover {
    border: none;
    outline: none;
}
#userImg {
    height: 50vh;
    width: 100%;
}
/*Style for notification page*/
.data-container {
    background: #607D8B;
    color: white;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.inside-container {
    padding-top: 3px;
    padding-bottom: 3px;
}
.notification-image {
    width: 65px;
    float: left;
}
.user-image {
    height: 40px;
    width: 40px;
}
.user_name {
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding-top: 3px;
}
#date_time {
    font-size: 12px;
    font-weight: normal;
    padding-top: 5px;
}
.message-container {
    padding-top: 10px;
    font-size: 14px;
}
.contact {
    color: red;
}
/*style for account*/
.menu {
    height: 44px;
    border-top: 2px solid #B71C1C;
    border-bottom: 2px solid #B71C1C;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.logout-img {
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
}
/*Style for profile*/
.view-profile-container {
    background: transparent;
    height: 60px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid #B71C1C;
    border-bottom: 2px solid #B71C1C;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
}
.user-profile-image {
    width: 25%;
    float: left;
}
.account-img {
    height: 40px;
    width: 40px;
    border-radius: 2px;
}
.profile-text {
    width: 75%;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 0px !important;
    margin-right: 0px !important;
    float: left !important;
}
.user-detail-div {
    height: 60px;
    border-bottom: 2px solid #B71C1C;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 20px;
}
.user-profile {
    height: 40vh;
    width: 100%;
    padding-left: 22%;
    padding-right: 22%;
    padding-bottom: 20px;
}
.profile-image {
    border: 2px solid white;
    height: 100% !important;
    width: 100% !important;
    border-radius: 3%;
}
.div-change-image-container {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: -100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 35vh;
}
.div-img-change-opt {
    width: 100%;
    padding-bottom: 10px;
    background: white;
}
.div-img-change-opt-header {
    background: #0D47A1;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    height: 35px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.menu-option {
    padding-left: 10px;
    border-bottom: 1px solid #EEEEEE;
    height: 30px;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.div-prev-img {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #757575;
    color: white;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.div-prev-img-header {
    height: 34px;
    font-size: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
}
.img-prev-container {
    height: 85vh;
}
.img-prev {
    height: 100%;
    width: 100%;
}
.img-prev-buttons {
    height: 34;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}