.parent-container {
    min-height: 100vh;
    background-color: whitesmoke;
}
.container {
    padding-top: 55px;
}
/*navbar style*/
.main-navbar {
    height: 50px;
    width: 100%;
    background: #B71C1C;
    color: whitesmoke;
    font-size: 16px;
    position: fixed !important;
}
/*style for title*/
.title {
    color: whitesmoke;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 17px;
}
/*style for logo*/
.logo {
    height: 25vh;
    padding-top: 7vh;
    padding-left: 35%;
}
.img-logo {
    height: 75px;
    width: 75px;
}
/*style for error*/
.error {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #B71C1C;
    text-align: center;
}
.div-signup {
    padding-top: 10px;
    color: blue;
    text-align: center;
}
/*Style for loading*/
.loading {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  position: fixed;
  z-index: 99999;
}
.loadImage {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 45vh;
  bottom: 45vh;
  left: 40%;
  right: 40%;
  z-index: 999;
}
.loadingText {
  margin-top: 51vh;
  margin-bottom: 49vh;
  text-align: center;
  color: whitesmoke;
}