.parent-container {
    width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
}
.container {
    min-height: 100vh;
    padding-top: 55px;
    padding-bottom: 10px;
}
/*navbar style*/
.main-navbar {
    width: 100%;
    height: 50px;
    background: #B71C1C;
    color: whitesmoke;
    font-size: 16px;
    z-index: 1 !important;
    position: fixed !important;
}
/*style for title*/
.title {
    font-weight: bold;
    padding-left: 30px;
    padding-top: 17px;
}
.error {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #B71C1C;
    text-align: center;
}
/*Style for loading*/
.loading {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  position: fixed;
  z-index: 99999;
}
.loadImage {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 45vh;
  bottom: 45vh;
  left: 40%;
  right: 40%;
  z-index: 999;
}
.loadingText {
  margin-top: 51vh;
  margin-bottom: 49vh;
  text-align: center;
  color: white;
}
/*style for step indicator in signup*/
.step-indicator {
    height: 45px;
    margin-top: 10px;
}
.position-manager {
    height: 45px;
    width: 10%;
    float: left;
    padding-left: 2px;
    padding-right: 2px;
}
.position-manager-step {
    float: left;
    height: 45px;
    width: 17%;
}
.line-indicator {
    float: left;
    height: 1px;
    width: 100%;
    margin-top: 21px;
    background: blue;
    border: 1px solid blue !important;
}
.step {
    height: 45px;
    width: 45px;
    border: 1px solid #B71C1C !important;
    border-radius: 50%;
}